<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="apply_overtime_form">
      <div id="black">
        <h2>【残業申請】</h2>
          
          <%= form_with model: @user, url: attendances_apply_overtime_user_path(date: @worked_on), method: :patch do |f| %>
            <% user.each do |a| %>
            <%= f.fields_for "attendances[]", a do |attendances| %>
              <table class = "table table-bordered table-condensed table-hover" id="table-attendances">
                <thead>
                  <thead>
                    <tr>
                      <th>日付</th>
                      <th>曜日</th>
                      <th>終了予定時間</th>
                      <th>翌日</th>
                      <th>業務処理内容</th>
                      <th>指示者確認㊞</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <!--日付-->
                    <td class="center"><%= l(a.worked_on, format: :short) %></td>
                    <!--曜日-->
                    <td class="center"><%= $days_of_the_week[a.worked_on.wday] %></td>
                    <td class="center"><%= attendances.time_select :overtime, {include_blank: true}, class: "form-control bootstrap-date" %></td>
                    <td class="center"><%= attendances.check_box :tomorrow_check, {:checked => false}, 0 %></td>
                    <td class="center"><%= attendances.text_field :task_memo, class: "form-control" %></td>
                    <td class="center"><%= attendances.collection_select :user, @superiors, :id, :name, {include_blank: true} %></td>
                  </tr>
                </tbody>
              </table>
              <%= attendances.submit "変更を送信する", class: "btn btn-primary btn-sm" %>
          <% end %>
          <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>