<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="change_confirmation_form">
      <div id="black">
      <%= @change_confirmation_count %>

        <% @attendances.each do |user_id, user| %>
          <h2><%= User.find(user_id).name %>からの勤怠変更申請</h2>
          
          <%= form_with model: @user, url: attendances_update_one_month_user_path, local: true, method: :patch do |f| %>
            <% user.each do |a| %>
            <%= f.fields_for "attendances[]", a do |attendances| %>
              <table class = "table table-bordered table-condensed table-hover" id="table-attendances">
                <thead>
                  <thead>
                    <tr>
                      <th rowspan = "3">日付</th>
                      <th rowspan = "3">曜日</th>
                      <th colspan = "4">変更前</th>
                      <th colspan = "4">変更後</th>
                      <th rowspan = "3">備考</th>
                      <th rowspan = "3">指示者確認㊞</th>
                      <th rowspan = "3">変更</th>
                      <th rowspan = "3">勤怠を確認する</th>
              
                    </tr>
                    <tr>
                      <th colspan = "2">出社</th>
                      <th colspan = "2">退社</th>
                      <th colspan = "2">出社</th>
                      <th colspan = "2">退社</th>
              
                    </tr>
                    <tr>
                      <th>時</th>
                      <th>分</th>
                      <th>時</th>
                      <th>分</th>
                      <th>時</th>
                      <th>分</th>
                      <th>時</th>
                      <th>分</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <!--日付-->
                    <td class="center"><%= l(a.worked_on, format: :short) %></td>
                    <!--曜日-->
                    <td class="center"><%= $days_of_the_week[a.worked_on.wday] %></td>
                    <td class="center"><%= l(a.started_at, format: :hour) if a.started_at.present? %></td>
                    <td class="center"><%= l(a.started_at, format: :minute) if a.started_at.present? %></td>
                    <td class="center"><%= l(a.finished_at, format: :hour) if a.finished_at.present? %></td>
                    <td class="center"><%= l(a.finished_at, format: :minute) if a.finished_at.present? %></td>
                    <td class="center"><%= l(a.edit_started_at, format: :hour) %></td>
                    <td class="center"><%= l(a.edit_started_at, format: :minute) %></td>
                    <td class="center"><%= l(a.edit_finished_at, format: :hour) %></td>
                    <td class="center"><%= l(a.edit_finished_at, format: :minute) %></td>
                    <td class="center"><%= a.note %></td>
                    <td class="center"><%= attendances.select :change_confirmation_status, [["申請なし", 0],["申請中", 1],["承認", 2],["非承認", 3]], {} %></td>
                    
                    <!--変更のチェックボックス、チェックがないと変更しても反映されない-->
                  　<td><%= attendances.check_box :edit_one_month_check, {:checked => true}, 1 %></td>
                    <!--勤怠を確認するボタン-->
                    <td><%= link_to "確認", user_path(a.user_id, date: a.worked_on.beginning_of_month), :style=>"color:white;", class: "btn btn-sm btn-primary" %></td>
                  </tr>
                </tbody>
              </table>
              <%= attendances.submit "変更を送信する", class: "btn btn-primary btn-sm" %>
          <% end %>
          <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>