<% provide(:title, 'Attendance Log') %>
<h1>勤怠修正ログ（承認済）</h1>


<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社時間</th>
        <th>変更後退社時間</th>
        <th>承認者</th>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |a| %>
        <tr>
          <td><%= a.worked_on if a.finished_at.present? %></td>
          <td><%= l(a.changed_started_at, format: :time) %></td>
          <td><%= l(a.changed_finished_at, format: :time) %></td>
          <td><%= l(a.started_at, format: :time) %></td>
          <td><%= l(a.finished_at, format: :time) %></td>
          <td><%= User.find(a.change_confirmation_approver_id).name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>